@charset "utf-8";

@import url("./reset.css");

@font-face {
font-family: Rye;
src: url(../assets/fonts/Rye-Regular.woff) format('woff'),
    url(../assets/fonts/Rye-Regular.ttf) format('truetype');
}

@font-face {
font-family: Champagne;
src: url(../assets/fonts/cac_champagne.woff) format('woff'),
    url(../assets/fonts/cac_champagne.ttf) format('truetype');
}

@font-face {
font-family: Lobster;
src: url(../assets/fonts/Lobster-Regular.ttf) format('truetype');
}

@font-face {
font-family: BriemHand;
src: url(../assets/fonts/BriemHand-Medium.ttf) format('truetype');
}

html
{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  box-sizing: border-box;
  background-color:aliceblue;
}

body
{
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}

header
{
  border-bottom: 1px solid black;
}

h1, h2, h3, h4, h5, h6
{
  margin: 5px;
  padding: 5px;
}

h2, h3, h4, h5, h6
{
  margin: 5px;
  padding: 5px;
}

h1
{
  padding: 10px 0px;
  font-size: 3rem;
  font-family: Rye, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2
{
  font-size: 2rem;
  font-family: Lobster, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3
{
  font-size: 1.5rem;
}

h4
{
  font-size: 1rem;
}

header, main, section, footer
{
  margin: 15px 10px;
}

footer
{
  margin-top: 40px;
}

footer nav
{
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

footer nav a
{
  padding: 5px;
  border-radius: 25%;
  background-color: turquoise;
  width: 135px;
  text-align: center;
}

img.full
{
  cursor: pointer;
}

@media screen and (max-width: 421px)
{
  html
  {
    font-size: 12px;
  }

  h1, h2, h3, h4, h5, h6
  {
    text-align: center;
  }

  footer nav
  {
    flex-flow: column;
  }

  footer nav a
  {
    border-radius: 0%;
    width: 100%;
  }
}

@media screen and (max-width: 800px)
{
  body
  {
    max-width: 100%;
  }
}